.button {
  display: block;
  width: 100%;
  font: 600 1rem/150% var(--default-fm);
  border-radius: 1rem;
  outline: none;
  border: none;
  background-color: #40d2d7;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  color: var(--white);
  text-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.3);
  padding: 1.15rem;
  cursor: pointer;
  transition: scale 0.35s ease;
}

.button:active {
  scale: 0.98;
}
